<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>angular第一课</title>
	<link rel="stylesheet" type="text/css" href="css/base.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<style type="text/css">
		li{
			padding: 15px;
		}
	</style>
</head>
<body>
	<h3>angular模式</h3>
	<ul ng-app ng-init="count=0;price=0">
	<li>数量：<input type="text" ng-model="count"></li>
	<li>单价：<input type="text" ng-model="price"></li>
	<li>总价：${{count*price||0}}</li>
	<!-- count*price||0当price不存在或为空的时候取0 -->
		<!-- <li>{{5+5}}</li> -->
	</ul>
</body>
</html>